<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : Settings.app_name %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "" %>">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if signed_in? %>
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
      <%= render 'layouts/navigation' %>
    </header>
  <% end %>
  <%= render 'layouts/messages' %>
  <main role="main">
    <div class="container">
      <div class="herounit"></div>
      <%= yield %>
    </div>
  </main>


  <footer>
    <div class="container">
      Developed by <a href="https://twitter.com/<%= Settings.programmer_twitter_id %>/" target="_blank">@<%= Settings.programmer_twitter_id %></a>,
      Designed by <a href="https://twitter.com/<%= Settings.designer_twitter_id %>/" target="_blank">@<%= Settings.designer_twitter_id %></a>,
      Licence by <a href="https://creativecommons.org/licenses/by-nc-sa/2.1/jp/" target="_blank">CC BY-NC-SA 2.1</a>
    </div>
  </footer>
</body>
</html>
